Thanks for raising this issue -- it relates to a common architectural problem where you have application web-services implementing the business resources and additional infrastructure components like (ingress) router or load balancer. 

The HTTP status web standard does not clearly differentiate between application and infrastructure services. The system is basically a black-box from the client point of view. Purists argue that 404 (Not Found) is the standard response when the server (which includes the ingress router acting as a gateway) cannot find a representation for the requested URI. The client should not necessarily care if the error happened at the ingress layer or inside the app. If there is no route, the resource is "not found". However, the purist's view is not consistently adopted in the infrastructure industry: AFAIK most ingress providers (e.g. IGINX, HAProxy) return 404 and most cloud load balancer (e.g. AWS ALB, GCP LB) return 503 (Service Unavailable). 

Of course, the black-box view is not very helpful for clients that need to decide how to handle the error to provide the best user experience and care to restore service availability. They need to differentiate client errors (e.g. typo in the resource id - application resource is not available) and server systems error (e.g. route not defined). In our RESTful API thinking, 404 relates to the business resource provided by the application web-service and not to the API infrastructure state. Whenever we can define return codes of infrastructure components we should use 503 instead of 404. 

I propose to extend the guidelines to make clear that 404 (instead of e.g. 503) may be returned by API infrastructure components like especially the ingress router in case the URI cannot be resolved due to missing route configurations. Routers typically provide additional problem information when returning 404 e.g. via proprietary response headers. Let's check this for Zalando's ingress setup, and provide the information as examples in the guideline.  


@bocytko Using `404` in the infrastructure case is an clearly incorrect behavior.

>The HTTP status web standard does not clearly differentiate between application and infrastructure services. 

@tfrauenstein I must strongly disagree also I'm currently not sure whether there are RFCs defining the behavior of routing infrastructure, proxies and servers - I'm also not sure whether this is necessary, however, I think we will find all references how to handle this case already in:

* [RFC 9110 (HTTP Semantics)](https://www.rfc-editor.org/rfc/rfc9110.html),
* [RFC 9112 (HTTP/1.1 Routing)](https://www.rfc-editor.org/rfc/rfc9112.html),
* [RFC 7235 (HTTP Authentication)](https://www.rfc-editor.org/rfc/rfc7235.html)

In general, routing and proxy infrastructure is not the actual server/service and should therefore never give a response to a client that would indicates to it, that it's answer could be authoritative with respect to the result. Especially, with respect to the here proposed `404` - which indicates, that a resource does not exist - this would be in incorrect reply of an infrastructure creating the risk of a misinterpretation by the client. There are surely other replies where a incorrect interpretation would be less clear, but I would in general exclude most of the `4xx`responds range for this reason.

As a consequence, and infrastructure services should only use `5xx` codes indicating, that an exceptional server side/infrastructure condition exists. By default this response should be either:

* `502` - Bad Gateway
* **`503` - Service Unavailable**
* `504` - Gateway Timeout

But also other `5xx` codes (including the fallback option `500`) may be a valid option depending on the context.

By the way, an exception is `407` - Proxy Authentication Required.

So, when we pick this up a guideline it should state, exactly what I stated above.

> Routing and proxy infrastructure must respond using `5xx`
>
> All routing and proxy infrastructure must ensure that a failure response issued by it can never be misinterpreted as an authoritative response of the service. As a consequence, routing and proxy infrastructure must use `5xx` response codes preferably with temporary meaning ...


@tkrop I actually do not see a disagreement. However, we provide guidelines primarily for web-service application developers (being infrastructure service users), and routers (ingress) usually return 404 if the route configuration is missing, applying a purist HTTP standard interpretation where the URI is opak. I'm happy to discuss this topic in the next Guild JF.


Proxy has also an http server with http handlers, similar to API definitions.
API definitions might also want to differentiate between "no route found" and "no item found".

The referenced specs by @tkrop do not show any "no route found" guidance at all.
As it seems istio/envoy does the same as us but have maybe a more nice error log, we have metrics that show route lookup failed and you see this also in skipper spans with an error tag set to true and the error message is route lookup failed.
I wonder if the log will add more visibility in this case.

We can also think in another direction: "item was deleted"
For backends the response could be 410 if you have deleted resources: [cite](https://www.rfc-editor.org/rfc/rfc9110.html#name-404-not-found)
```
[15.5.5. ](https://www.rfc-editor.org/rfc/rfc9110.html#section-15.5.5)[404 Not Found](https://www.rfc-editor.org/rfc/rfc9110.html#name-404-not-found)

The 404 (Not Found) status code indicates that the origin server did not find a current representation for the [target resource](https://www.rfc-editor.org/rfc/rfc9110.html#target.resource) or is not willing to disclose that one exists. A 404 status code does not indicate whether this lack of representation is temporary or permanent; the [410 (Gone)](https://www.rfc-editor.org/rfc/rfc9110.html#status.410) status code is preferred over 404 if the origin server knows, presumably through some configurable means, that the condition is likely to be permanent.

A 404 response is heuristically cacheable; i.e., unless otherwise indicated by the method definition or explicit cache controls (see [Section 4.2.2](https://www.rfc-editor.org/rfc/rfc9111#section-4.2.2) of [[CACHING](https://www.rfc-editor.org/rfc/rfc9110.html#CACHING)]).
```

# skipper visibility

On the right side you can clearly see the "route lookup failed"
<img width="1508" height="686" alt="Image" src="https://github.com/user-attachments/assets/43abdeee-edcf-4103-9744-2179dc929638" />